.footer{
    width: 95%;
    height: auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    display: flex;
}
.feels{
    height: auto;
    /* width: 80%; */
    width: 80%;
}
.humidity{
    /* width: 80%; */
    width:80%;
    height: auto;
}